@font-face {
  font-family: 'Museo-700';
  src: url('/fonts/MuseoCyrl-700.eot?#iefix') format('embedded-opentype'), url('/fonts/MuseoCyrl-700.otf') format('opentype'), url('../fonts/MuseoCyrl-700.woff') format('woff'), url('../fonts/MuseoCyrl-700.ttf') format('truetype'), url('../fonts/MuseoCyrl-700.svg#MuseoCyrl-700') format('svg');
  font-weight: normal;
  font-style: normal
}


@font-face {
    font-family: 'Neo Sans normal';
    src: url('NeoSansStd-Regular.eot');
    src: url('/fonts/NeoSansStd-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeoSansStd-Regular.woff2') format('woff2'),
        url('/fonts/NeoSansStd-Regular.woff') format('woff'),
        url('/fonts/NeoSansStd-Regular.ttf') format('truetype'),
        url('/fonts/NeoSansStd-Regular.svg#NeoSansStd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neo Sans bold';
    src: url('/fonts/NeoSansStd-Bold.eot');
    src: url('/fonts/NeoSansStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeoSansStd-Bold.woff2') format('woff2'),
        url('/fonts/NeoSansStd-Bold.woff') format('woff'),
        url('/fonts/NeoSansStd-Bold.ttf') format('truetype'),
        url('/fonts/NeoSansStd-Bold.svg#NeoSansStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
