div#gMedicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

div#gMedicos div.card {
    max-width: 450px;
}

.home_guia .svg-inline--fa{
    font-size: 40px!important;
    background: #00AFCB;
    color: #fff;
    border-radius: 106px;
    width: 165px!important;
    height: 165px!important;
    padding: 50px!important;
}

.home_guia .svg-inline--fa:hover{
    background: #F7BD00;
    transition: 0.5s;
}

.home_guia  h3{
    text-align: center;
}

.nav{
    display: block!important;
}