@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato');
/*@import url('https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/fonts/MuseoCyrl-700.woff');*/
@import url('vendor/bootstrap.min.css');
@import url('vendor/font-awersome.css');
@import url('vendor/flexslider.css');
@import url('vendor/owl.carousel.css');
@import url('vendor/magnific-popup.css');
@import url('vendor/component-file.css');
@import url('fonts.css');
@import url('../fonts/font-akhan.css');


* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0
}

:focus {
  outline: 0
}

a, a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto
}

.transition {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

body {
  display: block;
  font-family: 'Roboto', sans-serif;
  color: #2c3339;
  min-width: 310px;
  font-size: 14px;
  -webkit-text-size-adjust: none
}

.header {
  width: 100%;
  height: auto
}

.header-top-line {
  height: 22px;
  background: #e8e8e8
}

.logo {
  width: 100%;
  max-width: 428px;
  display: block;
  margin: 25px auto;
  padding: 0 15px
}

.logo a {
  display: block
}

.nav {
  width: 100%;
  height: auto;
  min-height: 48px;
  background: #007cd6;
  text-align: center;
  position: relative
}

.menu {
  list-style: none;
  margin: 0;
  display: inline-block
}

.menu li {
  display: inline-block
}

.menu li a {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  padding: 14px 8px;
  font-weight: 500
}

.menu-ativo {
  color: #000 !important;
}

.menu li span {
  color: #fff;
  padding: 0;
  margin: 0
}

.menu li a:hover {
  color: #d3d3d3
}

.sub-menu-open {
  position: relative
}

.sub-menu {
  position: absolute;
  background: #007cd6;
  z-index: 15;
  display: none
}

.sub-menu li {
  display: block;
  margin: 0;
  text-align: left;
  width: 100%
}

.sub-menu li a {
  padding: 8px 15px;
  border-top: 1px solid #fff;
  min-width: 180px;
  display: block
}

.sub-menu-open:hover>a {
  color: #d3d3d3
}

.menu-mobile {
  float: right;
  margin-right: 15px;
  margin-top: 10px;
  display: none
}

.menu-mobile a {
  color: #fff
}

.menu-mobile a:hover, .menu-mobile a:focus {
  color: #d3d3d3
}

.slider-home {
  width: 100%;
  height: 380px;
  overflow: hidden;
  background: #00c0d9;
  position: relative
}

.slider-home .slides {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 380px
}

.slider-home .slides li {
  overflow: hidden;
  position: relative;
  width: 100%;
  list-style: none
}

.banner-item {
  width: 100%;
  height: 380px;
  overflow: hidden;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  text-align: center;
  display: table !important;
  position: relative;
}

.banner-link {
  width: 100%;
  height: 380px;
  overflow: hidden;
  display: block;
}

.banner-item p {
  font-family: 'MuseoModerno', cursive;
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  display: table-cell;
  vertical-align: middle;
  padding-top: 290px;
  line-height: 1.3
}

.banner-texto {
  position: absolute;
  bottom: 0;
  background: #5189D3;
  width: 100%;
  text-align: left;
  color: #ffff;
  font-size: 16px;
  padding: 10px 0;
  font-weight: 400;
}

.banner-seta {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 6;
  margin-top: -30px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff
}

.banner-seta:hover, .banner-seta:focus {
  color: #007cd6;
  background: rgba(0, 0, 0, 0.8)
}

.banner-seta_esquerda {
  left: 0;
  padding: 8px 8px 8px 4px;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0
}

.banner-seta_direita {
  right: 0;
  padding: 8px 4px 8px 8px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px
}

.site-vendas-box {
  display: block;
  width: 206px;
  height: 200px;
  background: #007cd6;
  position: absolute;
  right: 0;
  top: 740px;
  z-index: 15
}

.site-vendas-box-footer {
  position: fixed;
  height: 60px;
  right: 0;
  z-index: 15;
  display: none;
}

.site-vendas-box:hover a {
  background: #0065d6;
  -webkit-box-shadow: 0 0 20px 1px #525252;
  box-shadow: 0 0 20px 1px #525252
}

.site-vendas-box:hover .site-vendas-box-circle {
  -webkit-box-shadow: 0 0 5px 0 #525252;
  box-shadow: 0 0 5px 0 #525252
}

.site-vendas-box-fixed {
  position: fixed;
  top: 0
}

.site-vendas-box a {
  position: relative;
  display: block;
  width: 206px;
  height: 200px
}

.site-vendas-box-titulo {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  padding: 15px 15px 0 15px;
  line-height: 1.3;
  margin: 0
}

.site-vendas-box-desc {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  padding: 0 15px 0 15px
}

.site-vendas-box-subtitulo {
  background: #fdd000;
  color: #007cd6;
  padding: 15px;
  font-size: 21px;
  font-weight: 700;
  text-align: center
}

.site-vendas-box-plus {
  position: absolute;
  bottom: -20px;
  width: 100%;
  text-align: center;
  height: 30px
}

.site-vendas-box-circle {
  width: 30px;
  height: 30px;
  background: #007cd6;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 15px;
  border-radius: 15px
}

.fa-plus {
  color: #fff;
  margin-top: 7px
}


.titulo-Guia {
  font-family: 'Neo Sans normal';
  font-weight: bold;
  color: #0071B6;
  font-size: 30px;
  text-align: center;
}

.titulo1 {
  font-family: 'Neo Sans normal';
  color: #6589C5;
  font-size: 60px;
  text-align: center;
  margin: 10px 0 15px 0;
}

.titulo2 {
  font-weight: 700;
  color: #528bd3;
  font-size: 38px;
  text-align: center;
  margin: 30px 0;
  font-family: 'Neo Sans bold';
}

.home-video {
  width: 100%;
  height: 277px;
  background: url(../img/bg-video-home.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden
}

.home-video a {
  display: block;
  width: 100%;
  height: 277px;
  padding-top: 80px;
  text-align: center
}

.home-video a:hover {
  background: rgba(0, 0, 0, 0.2)
}

.home-video a span {
  display: inline-block;
  width: 114px;
  height: 115px;
  background-image: url(../img/player.png);
  background-repeat: no-repeat;
  background-position: left center
}

.home-video a span:hover {
  background-position: right center
}

.home-padrao a {
  display: block;
  padding: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.home-padrao .item-titulo {
  font-weight: 700;
  font-size: 33px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.3;
  margin-top: 15px;
  max-width: 200px
}

.home-padrao .item-descricao {
  margin-top: 20px;
  font-size: 17px;
  color: #fff
}

.home-padrao .item-btn {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  border: 2px solid #fff;
  -webkit-border-radius: 15px;
  border-radius: 25px;
  padding: 6px 10px;
  margin-top: 15px;
  text-transform: uppercase
}

.home-padrao .item-btn:hover {
  background: rgba(0, 0, 0, 0.5)
}

.home-padrao a:hover {
  background: rgba(0, 0, 0, 0.2)
}

.home-endereco {
  margin-top: 30px;
  background: #c3bf75;
  height: 144px
}

.home-endereco img {
  float: left
}

.home-endereco .item-titulo {
  max-width: 242px;
  margin-top: 0;
  margin-left: 10px;
  float: left
}

.home-endereco .item-descricao {
  color: #615e2e
}

.home-endereco .item-btn {
  margin-top: 10px
}

.home-guia {
  height: auto;
  height: 450px;
  background: #d8b63e url(../img/bg-home-guia.jpg) center bottom no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.home-guia .item-titulo {
  margin-bottom: 0
}

.home-guia .item-descricao {
  margin-top: 0
}

.home-manual {
  margin-top: 30px;
  height: auto;
  height: 211px;
  background: #21bbd1
}

.home-manual .item-titulo {
  margin-bottom: 0
}

.home-manual .item-descricao {
  margin-top: 0
}

.home-boleto {
  height: 211px;
  background: #5189d3
}

.home-atendimento {
  height: 210px;
  background: #21bbd1;
  margin-top: 30px
}

.home-empresa {
  height: 210px;
  background: #5189d3;
  margin-top: 30px
}

.home-slide {
  width: 100%;
  min-height: 500px;
  background: #fff;
  margin-top: 10px
}

.owl-carousel {
  background-color: #e9f1f2;
  height: 450px;
  overflow: hidden;
  padding-top: 30px
}

.owl-carousel .item {
  background-color: #fff;
  height: 400px;
  width: 100%;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  overflow: hidden
}

.owl-carousel .item a {
  display: block;
  height: 420px;
  width: 100%;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0)
}

.owl-carousel .item .item-img-back {
  background: #000;
  overflow: hidden;
  display: block;
  width: 100%
}

.owl-carousel .item .item-img {
  display: block;
  width: 100%;
  height: 200px;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important
}

.owl-carousel .item:hover .item-img {
  opacity: .80;
  filter: alpha(opacity=80);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.owl-carousel .item .item-content {
  padding: 20px;
  display: block
}

.owl-carousel .item .item-data {
  font-weight: 300;
  color: #9f9f9f
}

.owl-carousel .item .item-titulo {
  margin-top: 10px;
  font-weight: 700;
  color: #56a3bd;
  font-size: 20px;
  border-top: 1px solid #e4e4e4;
  padding-top: 5px
}

.item-titulo-footer {
  height: auto;
  overflow: hidden
}

.owl-carousel .item .item-desc {
  font-weight: 300;
  font-size: 16px;
  color: #7f7f7f
}

.item-desc-footer {
  height: 22px;
  display: none;
  overflow: hidden
}

.owl-carousel .owl-controls {
  position: absolute;
  bottom: 60%;
  left: 0;
  width: 100%;
  height: 0
}

.owl-nav .owl-prev {
  color: #fff;
  position: absolute;
  left: 0;
  padding: 8px 8px 8px 4px;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.owl-nav .owl-next {
  position: absolute;
  color: #fff;
  right: 0;
  padding: 8px 4px 8px 8px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
  color: #007cd6;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.footer {
  width: 100%;
  min-height: 120px;
  background: #3f7bd1;
  padding: 30px 15px 10px 15px;
  overflow: hidden
}

.footer img {
  margin: 0 5px
}

.footer p {
  margin: 20px 0 0 0;
  color: #fff;
  font-weight: 300
}

.footer a {
  color: #fff
}

.footer a:hover, .footer a:focus {
  color: #fff;
  text-decoration: underline
}

.header-page {
  width: 100%;
  height: 340px;
  background-color: #00c0d9;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  text-align: center
}

.footer-page {
  width: 100%;
  height:400px;
  overflow: hidden;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  text-align: center
}

.header-page p {
  font-size: 17px;
  color: #fff;
  font-weight: 300;
  text-shadow: 1px 1px 2px #474747
}

.header-page h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  margin-top: 220px;
  text-shadow: 2px 2px 3px #474747
}

.header-faixa {
  width: 100%;
  height: auto;
  background: #37abc5
}

.header-faixa p {
  color: #fff;
  font-size: 26px;
  text-align: center;
  padding: 25px 0 20px 0;
  line-height: 1.2;
  font-weight: 300
}

.frm-segunda-via {
  margin-top: 30px
}

.button-segunda-via {
  display: block;
  background: #F2CB12;
  width: 100%;
  font-size: 28px;
  color: #6F6F6E;
  padding: 25px 15px;
  margin-bottom: 15px;
  text-align: center
}

.button-segunda-via-send {
  margin-top: 30px;
  font-size: 20px
}

.button-segunda-via:hover, .button-segunda-via:focus {
  background: #c4a200;
  color: #fff
}

.button-segunda-via-ativo {
  background: #c4a200
}




.button-regularize {
  display: block;
  background: #0092d3;
  width: 100%;
  font-size: 28px;
  color: #fff;
  padding: 25px 15px;
  margin-bottom: 15px;
  text-align: center
}

.button-regularize-send {
  margin-top: 30px;
  font-size: 20px
}

.button-regularize:hover, .button-regularize:focus {
  background: #0080ad;
  color: #fff
}

.button-regularize-ativo {
  background: #0080ad;
}




.input-carteirinha {
  width: 100%;
  border-bottom: 1px solid #cdd6dd;
  font-size: 18px;
  font-weight: 300;
  margin-top: 50px;
  padding-bottom: 6px
}

.input-carteirinha::-webkit-input-placeholder {
  color: #5b666a
}

.input-carteirinha:-ms-input-placeholder {
  color: #5b666a
}

.input-carteirinha::-moz-placeholder {
  color: #5b666a;
  opacity: 1
}

.input-carteirinha:-moz-placeholder {
  color: #5b666a;
  opacity: 1
}

.tipo-associado-box {
  color: #5b666a;
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
  display: block
}

.header-faixa-institucional p {
  font-size: 20px
}

.titulo-institucional {
  font-size: 35px;
  font-weight: 700;
  color: #1a8cd7;
  text-align: center;
  margin: 30px 0 0 0
}

.titulo-financeiro {
  font-size: 32px;
  font-weight: 700;
  color: #1a8cd7;
  margin: 30px 0 0 0
}

.subtitulo-institucional {
  font-size: 26px;
  color: #004858;
  text-align: center;
  margin: 10px 0;
  padding-bottom: 20px;
  background: url(../img/bg-subtitulo.png) center bottom no-repeat
}

.lista-especialdiades-box {
  margin-top: 30px
}

.lista-especialidades {
  font-size: 17px;
  color: #233c4c;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 0 15px
}

.acreditado-logo {
  margin-top: 30px
}

.quem-somos-galeria-titulo {
  text-align: center;
  font-size: 35px;
  color: #1a8cd7;
  font-weight: 700;
  max-width: 630px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px
}

.quem-somos-galeria-33 {
  width: 33.333333%;
  float: left;
  background: #000
}

.quem-somos-galeria-66 {
  width: 66.666666%;
  float: left
}

.galeria-relative {
  width: 100%;
  height: auto;
  position: relative
}

.quem-somos-galeria-33 p {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 21.24px;
  color: #fff;
  font-weight: bold
}

.quem-somos-galeria-33 .azul {
  color: #005d9c
}

.quem-somos-galeria-33 figure {
  overflow: hidden
}

.quem-somos-galeria-33:hover img, .quem-somos-galeria-33:focus img {
  opacity: .80;
  filter: alpha(opacity=80);
  filter: alpha(opacity=75);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.faixa-quem-somos {
  width: 100%;
  padding: 30px 15px;
  background: #007cd6;
  text-align: center
}

.faixa-quem-somos-link {
  font-family: 'Roboto', sans-serif;
  background: #f2c200;
  color: #2b2d5c;
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  padding: 20px 25px;
  border-radius: 50px
}

.faixa-quem-somos-link:hover, .faixa-quem-somos-link:focus {
  color: #fff;
  background: #005d9c
}

.faixa-categoria-atendimento {
  background: #38acc5;
  width: 100%;
  min-height: 206px;
  padding: 30px 0;
  margin-bottom: 30px
}

.faixa-categoria-atendimento-titulo {
  font-size: 21px;
  color: #fff;
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  padding-bottom: 10px
}

.botao-categoria-atendimento {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  display: block;
  text-align: center;
  padding: 20px 10px;
  border-radius: 5px
}

.btn-urgencia {
  background: #ff7d0a
}

.btn-beneficiario {
  background: #0068b3
}

.btn-rede {
  background: #fdd000;
  color: #0068b3
}

.btn-todos {
  background: #FFF;
  color: #0068b3
}

.botao-categoria-atendimento:hover, .botao-categoria-atendimento:focus {
  color: #fff
}

.btn-urgencia:hover, .btn-urgencia:focus {
  background: #ff9535
}

.btn-beneficiario:hover, .btn-beneficiario:focus {
  background: #0080dd
}

.btn-rede:hover, .btn-rede:focus {
  color: #0068b3;
  background: #ffe153
}

.btn-todos:hover, .btn-todos:focus {
  color: #0068b3;
  background: #ddd
}

.cidade-credenciada {
  margin-top: 15px;
  margin-bottom: 30px;
  overflow: hidden
}

.cidade-credenciada-titulo {
  color: #0092b3;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2
}

.unidade-credenciada {
  margin-top: 20px;
  font-size: 17px;
  color: #233c4c;
  font-family: 'Roboto', sans-serif
}

.unidade-credenciada figure {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #000
}

.unidade-credenciada-titulo {
  font-weight: 700;
  margin: 0;
  margin-top: 8px
}

.unidade-credenciada-desc {
  font-weight: 300;
  margin: 0
}

.unidade-credenciada-city {
  margin-top: 2px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px
}

.unidade-credenciada-titulo-city {
  font-weight: 700;
  margin: 0;
  margin-top: 0
}

.unidade-credenciada:hover img {
  opacity: .80;
  filter: alpha(opacity=80);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.hide-box {
  display: none
}

.filtros-rede-medica {
  background: #38acc5;
  padding-bottom: 20px;
  width: 100%
}

.filtro-rede-fixed {
  position: fixed;
  top: 0;
  z-index: 5
}

.faixa-categoria-atendimento {
  padding-bottom: 0;
  margin-bottom: 0
}

.titulo-manual {
  font-size: 50px;
  font-weight: 700;
  color: #0092b3;
  text-align: center;
  margin: 80px 0 0 0
}

.titulo-manual span {
  display: block
}

.subtitulo-manual {
  font-size: 23px;
  color: #0092b3;
  text-align: center;
  margin: 0
}

.manual-post {
  background: #ebf1f6;
  overflow: hidden
}

.manual-post figure {
  background: #000;
  overflow: hidden
}

.manual-post:hover {
  background: #e1ebf2
}

.manual-post:hover img {
  opacity: .80;
  filter: alpha(opacity=80);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.manual-post-content {
  width: 100%;
  height: auto;
  padding: 20px
}

.manual-post-titulo {
  color: #007cd6;
  font-size: 23px;
  font-weight: bold
}

.manual-post-desc, .manual-post-desc a {
  margin-top: 15px;
  font-size: 16px;
  color: #7e7e8a;
  font-weight: 300
}

.manual-post-desc a:hover, .manual-post-desc a:focus {
  text-decoration: underline
}

.manual-consulta {
  margin-top: -180px
}

.manual-autorizacao {
  margin-top: 30px
}

.manual-pronto-atendimento {
  margin-top: 30px
}

.manual-utilizacao {
  margin-top: -180px
}

.manual-cuide {
  margin-top: 30px
}

.ouvidoria-box {
  margin-top: 30px
}

.ouvidoria-box p {
  font-size: 17px;
  color: #233c4c;
  margin-top: 15px
}

.atualize-cadastro-desc {
  margin: 0 0 10px 0 !important;
  font-size: 15px !important
}

.ouvidoria-box h4 {
  font-size: 22px;
  color: #007cd6;
  margin-top: 30px
}

.contato-sub {
  margin-top: 60px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 22px;
  color: #007cd6;
}

.ouvidoria-box-form {
  margin-top: 30px;
  padding: 30px 0;
  width: 100%;
  background: #eaf0f6
}

.ouvidoria-box-image {
  width: 100%;
  overflow: hidden;
  text-align: center
}

.ouvidoria-box-image img {
  width: 100%;
  height: auto;
  max-width: 218px
}

.ouvidoria-box-text {
  margin-top: 30px
}

.ouvidoria-box-text p {
  margin-top: 15px;
  color: #233c4c;
  font-size: 17px
}

.ouvidoria-box-text a {
  margin-top: 15px;
  color: #233c4c;
  font-size: 17px
}

.ouvidoria-box-text a:hover, .ouvidoria-box-text a:focus {
  text-decoration: underline;
}

.ouvidoria-form {
  width: 100%;
  min-height: 300px;
  background: #fff;
  padding: 20px;
  padding-top: 5px;
}

.atualize-form {
  margin-top: 10px;
  -webkit-box-shadow: 0 0 2px 0 #969696;
  box-shadow: 0 0 2px 0 #969696;
}

.ouvidoria-campo, .ouvidoria-select, .ouvidoria-textarea {
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  padding-top: 8px;
  padding-bottom: 5px;
  color: #5b666a
}

.ouvidoria-select {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: transparent url(../img/bg-select.png) left center no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding-left: 20px;
}

.autorizacao-select {
  padding-top: 21px
}

.ouvidoria-textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  min-height: 120px;
}

.ouvidoria-campo::-webkit-input-placeholder, .ouvidoria-textarea::-webkit-input-placeholder {
  color: #5b666a
}

.ouvidoria-campo:-ms-input-placeholder, .ouvidoria-textarea:-ms-input-placeholder {
  color: #5b666a
}

.ouvidoria-campo::-moz-placeholder, .ouvidoria-textarea::-moz-placeholder {
  color: #5b666a;
  opacity: 1
}

.ouvidoria-campo:-moz-placeholder, .ouvidoria-textarea:-moz-placeholder {
  color: #5b666a;
  opacity: 1
}

.ouvidoria-button {
  display: inline-block;
  background: #dcb500;
  font-size: 20px;
  color: #fff;
  padding: 25px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 30px;
  margin-top: 30px
}

.ouvidoria-button:hover, .ouvidoria-button:focus {
  background: #c4a200
}

.autorizacao-desc {
  font-size: 17px;
  color: #233c4c;
  margin-top: 30px
}

.guia-medico-form-box {
  padding: 15px;
  background: #fff;
  width: 100%;
  min-height: 50px;
  margin-bottom: 30px
}

.guia-medico-select {
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #5b666a;
  margin-top: 8px;
  padding: 10px 5px;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: transparent url(../img/bg-select.png) right center no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none
}

.guia-medico-button {
  display: block;
  width: 100%;
  background: #dcb500;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding: 25px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 30px;
  margin-bottom: 30px;
}

.guia-medico-button:hover, .guia-medico-button:focus {
  background: #c4a200;
  color: #fff;
}

.guia-medico-resultado-titulo {
  font-size: 36px;
  color: #0092b3;
  font-family: 'MuseoModerno', cursive;
  text-align: center;
  margin-top: 30px
}

.guia-medico-resultado-titulo-no-top {
  margin-top: 0;
  color: #fff;
  font-size: 38px
}

.guia-medico-resultado-error {
  font-size: 36px;
  color: #9b9ba4;
  text-align: center;
  margin-top: 20px
}

.resultado-box {
  position: relative;
  margin-top: 30px;
  padding: 30px;
  width: 100%;
  background: #ebf1f6;
  border-left: 5px solid #3db8db;
  overflow: hidden
}

.resultado-box:hover {
  background: #e1ebf2
}

.resultado-titulo {
  font-weight: 700;
  color: #1378bb;
  font-size: 27px;
  margin: 0;
  padding-right: 80px;
  line-height: 1.1
}

.especialidade {
  font-size: 16px;
  color: #0771a4;
  font-weight: 300;
  margin: 0
}

.resultado-box-img {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 78px;
  height: 78px
}

.resultado-endereco {
  color: #5c666a;
  font-size: 17px;
  margin-top: 15px
}

.resultado-atendimento {
  color: #5c666a;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 0
}

.titulo-guia-download {
  margin-top: 40px;
  margin-bottom: 0
}

.subtitulo-guia-download {
  font-size: 19px;
  color: #9b9b9b;
  text-align: center
}

.guia-download {
  margin-top: 30px;
  display: block;
  width: 100%;
  background: url(../img/icon-folha.png) left -100px no-repeat;
  padding-left: 50px
}

.guia-download:hover {
  background-position: left 6px
}

.guia-download-titulo {
  font-size: 26px;
  color: #006db6;
  font-weight: 700;
  display: block;
  line-height: 1.1
}

.guia-download-desc {
  font-size: 17px;
  color: #5c666a;
  font-weight: 300
}

.header-page-blog {
  width: 100%;
  height: 160px;
  background: #38acc5;
  border-bottom: 5px solid #27a4c0
}

.header-page-blog p {
  text-shadow: 1px 1px 1px #474747
}

.header-page-blog h1 {
  margin-top: 50px;
  text-shadow: 1px 1px 1px #474747
}

.section-blog {
  margin: 30px 0;
  overflow: hidden
}

.blog-post {
  width: 100%;
  height: auto;
  margin-bottom: 50px
}

.blog-post a {
  display: block;
  overflow: hidden
}

.blog-post figure {
  background: #000;
  display: block;
  overflow: hidden
}

.blog-post-data {
  display: block;
  margin-top: 5px;
  color: #535252;
  font-size: 17px;
  font-weight: 300
}

.blog-post-see {
  overflow: hidden
}

.blog-post-see .blog-post-data {
  margin: 0 0 20px 0
}

.blog-post-titulo {
  font-size: 38px;
  color: #0092b3;
  font-weight: bold;
  line-height: 1.1
}

.sub-tituloscs{
  color: #0092b3;
}

.blog-post-see .blog-post-titulo {
  margin: 0
}

.blog-post-desc, .blog-post-desc p {
  font-size: 17px;
  color: #535252
}

.blog-post-see {
  font-size: 17px;
  color: #535252
}

.conteudo-lead {
  height: 450px;
  overflow: hidden;
  position: relative
}

.conteudo-lead-sombra {
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0;
  background: url(../img/lead-sombra.png) repeat-x
}

.conteudo-lead-openned {
  height: auto
}

.blog-post-btn {
  color: #fff;
  background: #0092b3;
  padding: 10px 15px;
  display: inline-block;
  font-size: 18px
}

.btn-open-lead {
  background: #38acc5;
  color: #fff;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 30px
}

.btn-open-lead:hover {
  background: #0083bb
}

.blog-post a:hover img {
  opacity: .80;
  filter: alpha(opacity=80);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.blog-post-btn:hover {
  background: #007cd6
}

.blog-pesquisa-frm {
  display: block;
  position: relative
}

.pesquisa-field {
  width: 100%;
  font-size: 20px;
  color: #bdbdbd;
  padding: 10px 60px 10px 10px;
  border: 1px solid #bdbdbd;
  font-weight: 500
}

.pesquisa-field::-webkit-input-placeholder {
  color: #bdbdbd
}

.pesquisa-field:-ms-input-placeholder {
  color: #bdbdbd
}

.pesquisa-field::-moz-placeholder {
  color: #bdbdbd;
  opacity: 1
}

.pesquisa-field:-moz-placeholder {
  color: #bdbdbd;
  opacity: 1
}

.pesquisa-submit {
  display: block;
  background: #3498db;
  color: #fff;
  padding: 15.5px 18px;
  position: absolute;
  right: 0;
  top: 0
}

.pesquisa-submit:hover {
  background: #0092b3
}

.ultimas-noticias {
  margin-top: 30px
}

.ultimas-noticias-titulo {
  color: #3498db;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 7px;
  background: url(../img/bg-titulos-blog.png) left bottom no-repeat
}

.blog-categ {
  text-transform: uppercase;
  margin-bottom: 20px
}

.blog-post-mini {
  display: block;
  overflow: hidden;
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d7d7d7
}

.blog-post-mini a {
  display: block;
  overflow: hidden
}

.blog-post-mini figure {
  float: left;
  width: 30%;
  overflow: hidden;
  background: #000
}

.blog-post-mini-content {
  float: left;
  width: 70%;
  overflow: hidden;
  padding-left: 15px
}

.blog-post-mini-data {
  color: #4e4e4e;
  font-weight: 300;
  display: block;
  font-size: 12px
}

.blog-post-mini-desc {
  font-size: 15px;
  color: #4e4e4e;
  font-weight: 700
}

.blog-post-mini a:hover img {
  opacity: .80;
  filter: alpha(opacity=80);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.blog-banner {
  margin-top: 30px
}

.blog-categorias {
  margin-top: 30px
}

.blog-categorias ul {
  list-style: none
}

.blog-categorias ul li {
  margin-top: 10px
}

.blog-categorias ul li a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  color: #535252
}

.blog-categorias ul li a:hover {
  text-decoration: underline
}

.blog-tags {
  margin-top: 30px
}

.tag {
  display: inline-block;
  padding: 10px;
  color: #4e4e4e;
  background: #ececec;
  font-size: 15px;
  margin-right: 5px;
  margin-bottom: 8px
}

.tag:hover, .tag:focus {
  color: #fff;
  background: #009bdf
}

.pagination {
  margin-bottom: 50px
}

.page-numbers {
  padding: 10px;
  color: #4e4e4e;
  background: #ececec;
  font-size: 15px;
  margin-right: 5px;
  margin-bottom: 8px
}

.page-numbers:hover, .page-numbers:focus {
  color: #fff;
  background: #009bdf
}

.page-numbers.current {
  font-weight: 700 !important;
  background: #0092b3 !important;
  color: #fff !important
}

.formulario label.error {
  color: #bb1e25
}

.formulario input.error {
  border-color: #bb1e25
}

.formulario select.error {
  border-color: #bb1e25
}

.formulario textarea.error {
  border-color: #bb1e25
}

.alignnone {
  margin: 5px 20px 20px 0
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
  width: 40%;
  height: auto
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
  width: 40%;
  height: auto
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px
}

a img.alignnone {
  margin: 5px 20px 20px 0
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: .875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000
}

.duvidas-box {
  margin-top: 30px;
  overflow: hidden
}

.duvidas-box p {
  font-size: 17px;
  color: #233c4c
}

.duvida {
  overflow: hidden
}

.duvida h2 {
  display: block;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  background: #339fb7;
  padding: 25px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer
}

.duvida span {
  padding-right: 8px
}

.duvida h2:hover {
  background: #37abc5
}

.duvida-item {
  padding: 0 25px;
  font-weight: 300;
  display: none
}

.duvida-item a {
  font-weight: 500;
  color: #233c4c
}

.duvida-item a:hover, .duvida-item a:focus {
  text-decoration: underline
}

.duvidas-bottom {
  margin-top: 0
}

.duvidas-bottom h3 {
  font-size: 22px;
  color: #007cd6;
  font-weight: 700
}

.box-tiss {
  margin-top: 30px
}

.lista-tiss {
  list-style: none;
  margin: 0;
  padding: 0
}

.lista-tiss li {
  margin-bottom: 10px
}

.lista-tiss li p {
  font-size: 22px;
  color: #233c4c
}

.lista-tiss a {
  font-size: 16px;
  color: #233c4c
}

.lista-tiss a:hover, .lista-tiss a:focus {
  text-decoration: underline
}

.tiss-form {
  border: 1px solid #ccc
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-top: 30px
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.popup {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 999;
  top: 0;
  z-index: 200
}

.popup-content {
  position: absolute;
  max-width: 480px;
  width: 86%;
  height: auto;
  padding-bottom: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.close-popup {
  color: #fff;
  top: -30px;
  right: -30px;
  position: absolute;
  display: block
}

.close-popup:hover, .close-popup:focus {
  color: #fff
}

.popup-titulo {
  background: #fff;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-align: center
}

.popup-desc {
  background: #fff;
  padding: 10px;
  margin: 0;
  font-size: 12px
}

.popup-subtitulo {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
  color: #616160;
}

.line {
  width: 30%;
  min-width: 200px;
  margin: 0 auto;
  border-bottom: 1px solid #616160;
}

.popup2 {
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  z-index: 200;
}

.popup-content2 {
  max-width: 480px;
  width: 80%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.close-popup2 {
  color: #fff;
  top: -30px;
  right: -30px;
  position: absolute;
  display: block
}

.close-popup2:hover, .close-popup2:focus {
  color: #fff
}

.foto-contato {
  padding-top: 140px;
  width: 100%;
  height: auto;
}

.pergunta-resposta{
  font-family: 'Neo Sans normal';
  margin-top:30px;
}
.sessao{
  font-size:30px;
  color:#528BD3;
  margin-bottom:15px;
  text-align: center;
  font-weight:bold;
}
.pergunta{
  font-size:20px;
  color:#528BD3;
  margin-top:25px;
  margin-bottom:0;
  font-weight:bold;
}
.resposta{
  font-size:16px;
  color:#666;
  margin-bottom:10px;
}
.txt-segunda-via{
  padding: 5px 0 10px 0 !important;
  font-family: 'AkhandSoftBold' !important;
  font-size: 72px !important;
}

.new-home{
  width: 100%;
  background: #EAF1F0;
  padding: 30px 0 0 0;
}

.guias-home{
  width: 100%;
  align-content: center;
  padding: 30px 0 0 0; 
  margin-bottom: 40px;
}

.box-item{
  display: block;
  margin-top: 20px;
}

.box-item:hover{
  opacity:90%;
}

.new-home-item{
  background:#0074BB;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}


.new-home-item:hover{
  background:#006DAE;
}
.new-home-item a{
  padding: 15px 0;
  display: block;
}

.new-home-item figure{
  padding-bottom: 15px;
}
.new-home-item span{
  color: #fff;
  text-transform: uppercase;
  font-family: 'Neo Sans normal';
  font-size: 25px;
}



.new-home-itemapp{
  background:#5faec9;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}


.new-home-itemapp:hover{
  background:#5faec9;
}
.new-home-itemapp a{
  padding: 15px 0;
  display: block;
}
.new-home-itemapp span{
  color: #fff;
  text-transform: uppercase;
  font-family: 'Neo Sans normal';
  font-size: 25px;
}



.comunicados-home{
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #868685;
  margin-bottom: 40px;
}

.comunicados-home-titulo{
  font-size:36px;
  color: #616160;
  font-family: 'Neo Sans normal';
  text-align: center;
  padding-bottom: 15px;
}
.comunicado-texto{
  font-size: 19px;
  color: #616160;
  padding-bottom: 15px;
}

.comunicados-open, .comunicados-close{
  color: #616160;
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
}
.comunicados-open:hover, .comunicados-open:focus, .comunicados-close:hover, .comunicados-close:focus{
  color: #000;
}
.comunicados-ocultos{
  display: none;
}
.comunicados-ocultos .comunicado-texto{
  padding-top: 5px;
  border-top: 1px solid #868685;
}
.comunicados-close{
  display: none;
}
@media only screen and (max-width:1599px) {
  .site-vendas-box {
    display: none
  }

  .site-vendas-box-footer {
    display: block
  }

  .site-vendas-box a {
    height: 60px
  }

  .site-vendas-box-titulo {
    display: none
  }

  .site-vendas-box-desc {
    display: none
  }

  .site-vendas-box-plus {
    top: -20px
  }

  .site-vendas-box-subtitulo {
    padding: 10px;
    font-size: 18px
  }
}

@media only screen and (max-width:1199px) {
  .home-padrao .item-titulo {
    font-size: 30px
  }

  .home-endereco .item-titulo {
    margin-top: 15px;
    max-width: 175px;
    font-size: 24px
  }

  .home-endereco .item-descricao {
    margin-top: 0
  }

  .home-endereco .item-btn {
    margin-top: 0
  }

  .blog-post-titulo {
    font-size: 30px
  }


 

  .banner-item-3 {
    background: url(../img/banner-novo-3-small.jpg) center center !important;
  }

  .foto-contato {
    padding-top: 200px;
  }
}

@media only screen and (max-width:1160px) {
  .menu li a {
    padding: 14px 5px;
    font-size: 13px
  }
}
@media only screen and (max-width:1000px) {
  .menu li a {
    padding: 14px 3px;
    font-size: 13px
  }
}
@media only screen and (max-width:991px) {



  .titulo1 {
    font-size: 40px
  }

  .home-padrao .item-titulo {
    font-size: 26px;
    min-width: 100%
  }

  .home-endereco .item-titulo {
    float: none;
    margin-top: 3px;
    margin-left: 0;
    font-size: 22px
  }

  .home-endereco img {
    width: 30px;
    height: auto;
    float: none
  }

  .titulo-manual {
    margin-top: 30px
  }

  .titulo-manual span {
    display: inline
  }

  .manual-consulta {
    margin-top: 30px
  }

  .manual-utilizacao {
    margin-top: 30px
  }

  .titulo-desk {
    display: none
  }

  
  .foto-contato {
    padding-top: 290px;
  }


  .banner-sch121{
    background: url(../img/b_sch121_G.jpg) top center !important;
  }


  .banner-topo-guia{
    background: url(../img/banner_topoG.png) top center !important;
  }

  .banner-melhorplano{
    background: url(../img/b_melhorplano_G.jpg) top center !important;
  }

  .banner-app-guia{
    background: url(../img/banner_appG.png) top center !important;
  }

  .banner-melhormapa{
    background: url(../img/b_melhormapa_P.jpg) top center !important;
  }

  .banner-melhorfunciona{
    background: url(../img/b_melhorfunciona_P.jpg) top center !important;
  }
 
  .banner-novosintegrados{
  background: url(../img/banner_novosplanosintegrados_g.jpg) top center !important;
}

.banner-corona{
  background: url(../img/bannercorona_g.png) top center !important;
}

.banner-notacorona{
  background: url(../img/notacovid_2.jpg) top center !important;
}

.banner-ans2021{
  background: url(../img/b_pesqans_G.png) top center !important;
}

.banner-novoautorizadordeguias{
  background: url(../img/b_oranizadorexames_G.png) top center !important;
}


.banner-novaclinicataubate{
  background: url(../img/b_novaclinicataubate_G.png) top center !important;
}


.banner-pesquisaans21{
  background: url(../img/b_pesqans_G.png) top center !important;
}

.banner_idss{
  background: url(../img/banner_idss_g.jpg) top center !important;
}


.banner_covid2022{
  background: url(../img/covidbanner_GG22.png) top center !important;
}


.banner-rendimentos2021{
  background: url(../img/b_rendimentos2021_G.png) top center !important;
}

.banner-ampliacaosch{
  background: url(../img/b_schampliacao_GG.png) top center !important;
}

.banner_descontosretro{
  background: url(../img/banner_descontosretro_g.png) top center !important;
}

.banner_carenciazero{
  background: url(../img/b_carenciazero_G.png) top center !important;
}



.banner_abramge{
  background: url(../img/b_abramge_G.png) top center !important;
}


.banner_facilita{
  background: url(../img/b_facilita_G.png) top center !important;
}


.banner-novazul{
  background: url(../img/novembroazul20_G.png) top center !important;
}


  .grid-box-home{
    width: 50% !important;
  }
}
@media only screen and (max-width:965px) {
  .menu {
    width: 100%;
    left: 0;
    top: 48px;
    position: absolute;
    z-index: 10;
    background: #007cd6;
    display: none
  }

  .menu li {
    display: block;
    width: 100%
  }

  .menu li span {
    display: none
  }

  .menu li a {
    display: block;
    width: 100%;
    border-top: 1px solid #016eb6;
    font-size: 14px
  }

  .menu li a:hover {
    background: #0079d2
  }

  .sub-menu {
    position: static
  }

  .sub-menu li {
    text-align: center
  }

  .menu-mobile {
    display: block
  }
}

@media only screen and (max-width:966px) {
  .banner-item p {
    padding-top: 140px;
  }
}

@media only screen and (min-width:966px) {
  .menu {
    display: block !important
  }
}



@media only screen and (max-width:767px) {
  .titulo1 {
    font-size: 30px
  }

  .home-padrao {
    margin-top: 15px;
    text-align: center
  }

  .home-guia {
    height: 350px
  }

  .home-endereco {
    height: auto
  }

  .quem-somos-galeria-33 {
    width: 100%;
    float: none
  }

  .guia-medico-button {
    margin-top: 15px
  }

  .site-vendas-box-subtitulo {
    width: 200px
  }

  .home-endereco .item-titulo {
    float: none;
    margin-top: 15px
  }

  .banner-item-1 {}

  .foto-contato {
    padding-top: 0px;
    margin-bottom: -30px;
  }
}


@media only screen and (max-width:729px) {


  .banner-sch121{
    background: url(../img/b_sch121_M.jpg) top center !important;
  }

  .banner-melhorplano{
    background: url(../img/b_melhorplano_M.jpg) top center !important;
  }

  .banner-app-guia{
    background: url(../img/banner_appM.png) top center !important;
  }

  .banner-topo-guia{
    background: url(../img/banner_topoM.png) top center !important;
  }

  .banner-melhormapa{
    background: url(../img/b_melhormapa_P.jpg) top center !important;
  }

  .banner-melhorfunciona{
    background: url(../img/b_melhorfunciona_P.jpg) top center !important;
  }
 
  .banner-novosintegrados{
    background: url(../img/banner_novosplanosintegrados_m.jpg) top center !important;
  }
  

  .banner-corona{
    background: url(../img/bannercorona_m.png) top center !important;
  }
  
  .banner-notacorona{
    background: url(../img/notacovid_3.jpg) top center !important;
  }

  .banner-ans2021{
    background: url(../img/b_pesqans_M.png) top center !important;
  }
  

  .banner-novoautorizadordeguias{
    background: url(../img/b_oranizadorexames_M.png) top center !important;
  }


  .banner-novaclinicataubate{
  background: url(../img/b_novaclinicataubate_M.png) top center !important;
}

.banner-pesquisaans21{
  background: url(../img/b_pesqans_M.png) top center !important;
}

  
.banner-rendimentos2021{
  background: url(../img/b_rendimentos2021_M.png) top center !important;
}

.banner-ampliacaosch{
  background: url(../img/b_schampliacao_M.png) top center !important;
}

.banner_descontosretro{
  background: url(../img/banner_descontosretro_m.png) top center !important;
}

.banner_carenciazero{
  background: url(../img/b_carenciazero_M.png) top center !important;
}

.banner_covid2022{
  background: url(../img/covidbanner_M22.png) top center !important;
}

.banner_idss{
  background: url(../img/banner_idss_m.jpg) top center !important;
}


.banner_abramge{
  background: url(../img/b_abramge_M.png) top center !important;
}

.banner_facilita{
  background: url(../img/b_facilita_M.png) top center !important;
}


  .banner-novazul{
    background: url(../img/novembroazul20_M.png) top center !important;
  }
  

}

@media only screen and (max-width:620px) {
  .quem-somos-galeria-titulo {
    font-size: 24px
  }
  .titulo-page-saber-viver{
    margin-top:10px !important;
  }
  .txt-segunda-via{
    font-family: 'AkhandSoftBold' !important;
    font-size: 44px !important;
  }

}

@media only screen and (max-width:560px) {
  .new-home-item span{
    font-size: 20px;
  }

  .new-home-item img{
    width: 60px;
  }

 
  .banner-sch121{
    background: url(../img/b_sch121_P.jpg) top center !important;
  }

  .banner_idss{
    background: url(../img/banner_idss_p.jpg) top center !important;
  } 
  
  .banner-melhorplano{
    background: url(../img/b_melhorplano_P.jpg) top center !important;
  }

  .banner-app-guia{
    width: 100%;
    height:340px;
    background: url(../img/banner_appP.png) top center !important;
  }

  .banner-topo-guia{
    background: url(../img/banner_topoP.png) top center !important;
  }

  .banner-melhormapa{
    background: url(../img/b_melhormapa_P.jpg) top center !important;
  }

  .banner-melhorfunciona{
    background: url(../img/b_melhorfunciona_P.jpg) top center !important;
  }

   .banner-novosintegrados{
    background: url(../img/banner_novosplanosintegrados_p.jpg) top center !important;
  }
  
  .banner-corona{
    background: url(../img/bannercorona_p.png) top center !important;
  }
  
  .banner-notacorona{
    background: url(../img/notacovid_4.jpg) top center !important;
  }

  .banner-ans2021{
    background: url(../img/b_pesqans_P.png) top center !important;
  }
  

  .banner-novoautorizadordeguias{
    background: url(../img/b_oranizadorexames_P.png) top center !important;
  }


  
  .banner-novaclinicataubate{
    background: url(../img/b_novaclinicataubate_P.png) top center !important;
  }
  
  .banner-pesquisaans21{
    background: url(../img/b_pesqans_P.png) top center !important;
  }

  
.banner-rendimentos2021{
  background: url(../img/b_rendimentos2021_P.png) top center !important;
}

.banner-ampliacaosch{
  background: url(../img/b_schampliacao_P.png) top center !important;
}

.banner_descontosretro{
  background: url(../img/banner_descontosretro_p.png) top center !important;
}

.banner_carenciazero{
  background: url(../img/b_carenciazero_P.png) top center !important;
}

.banner_covid2022{
  background: url(../img/covidbanner_P22.png) top center !important;
}


.banner_abramge{
  background: url(../img/b_abramge_P.png) top center !important;
}

.banner_facilita{
  background: url(../img/b_facilita_P.png) top center !important;
}


  .banner-novazul{
    background: url(../img/novembroazul20_p.png) top center !important;
  }
  

  .slider-home {
    height: 260px
  }

  .slider-home .slides {
    height: 260px
  }

  .banner-item {
    height: 260px
  }

  .banner-item p {
    font-size: 30px
  }

  .header-page {
    height: 250px
  }

  .header-page h1 {
    margin-top: 120px;
    font-size: 40px
  }

  .header-page p {
    font-size: 17px
  }

  .header-faixa p {
    font-size: 20px
  }

  .resultado-titulo {
    padding-right: 0
  }

  .resultado-box-img {
    display: none
  }

  .header-page-blog {
    height: 160px
  }

  .header-page-blog h1 {
    margin-top: 50px
  }

  .blog-post-titulo {
    font-size: 26px
  }

  .inputfile+label {
    background: url(../img/bg-upload.png) right center no-repeat
  }

  .inputfile-2+label {
    padding-right: 50px
  }

  .duvida h2 {
    font-size: 15px
  }

  .duvidas-box p {
    font-size: 15px
  }

  .banner-item-3 {
    background: url(../img/banner-novo-3-small-2.jpg) center center !important;
  }

  .banner-item-2 {
    background: url(../img/banner-novo-2-small-3.jpg) center center !important;
  }

  .banner-pesquisa-1 {
    background: url(../img/pesquisa-85-small-2.jpg) top center no-repeat !important;
  }
  .banner-pesquisa-2 {
    background: url(../img/pesquisa-82-small-2.jpg) center center !important;
  }
  .banner-pesquisa-3{
    background: url(../img/pesquisa-93-small-2.jpg) top center !important;
  }
  .banner-consultas{
    background: url(../img/banner-consultas-small-2.jpg) top center !important;
  }
  .grid-box-home{
    width: 100% !important;
  }
  .popup-content2 {
    position: static;
    max-width: 600px;
    margin:0 auto;
    margin-top:30px;
    width: 90%;
    height: auto;
    left: none;
    top: none;
    transform: none;
    margin-bottom:30px;
  }
  .close-popup2 {
    color: #fff;
    text-align:right;
    position: static;
    display: block;
    margin-bottom:5px;
  }


}

@media only screen and (max-width:470px) {
  .titulo-manual {
    font-size: 30px
  }

  .subtitulo-manual {
    font-size: 19px
  }

  .resultado-titulo {
    font-size: 22px
  }
}

@media only screen and (max-width:410px) {
  .footer img {
    margin: 5px 5px
  }
}

.link-home-box {
  width: 100%;
  overflow: hidden;
  background: #5189d3;
  padding: 15px;
}

.link-home-box a {
  display: block;
  width: 100%;
  height: 100%
}

.circle-image {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  text-align: center;
  display: table;
  vertical-align: middle;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 0px
}

.circle-image span {
  display: table-cell;
  vertical-align: middle
}
.circle-image img{
  width: 40px;
  height: 40px;
}

.link-home-titulo {
  font-size: 26px;
  color: #fff;
  line-height: 1.3;
  margin-top: 10px;
  text-align: center;
  font-weight: 300;
  font-family: 'Neo Sans normal';
}
.link-home-desc{
  color:#fff;
  font-size:16px;
  margin-top:-7px;
  padding-top:0;
  text-align:center;
  font-family: 'Neo Sans normal';
}
.link-home-box-aviso {
  width: 100%;
  overflow: hidden;
  padding: 15px 10px 0px 10px;
  margin-bottom: 0;
  min-height: 160px
}
.link-home-box-aviso  a{
  width: 100%;
  height: 100%;
}

.link-avisos{
  color:#fff;
  display: block;
  font-size:14px;

  margin-top:5px;
  padding-top:5px;
}

.link-avisos:hover, .link-avisos:focus{
  color:#fff;
}

.aviso-mais{
  background:#127FC3;
  padding: 3px 5px;
  border-radius:20px;
}
.aviso-mais:hover{
  background:#0B9EB9;
}




.link-home-box-branca {
  background: #5189d3 url(../img/familia-branca.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.link-home-box-video {
  background: #5189d3 url(../img/bg-video-home.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0
}

.link-home-box-negra {
  background: #5189d3 url(../img/familia-negra.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.youtube-gallery-link {
  display: block;
  text-align: center;
  min-height: 100%;
  overflow: hidden
}

.youtube-gallery-link:hover {
  background: rgba(0, 0, 0, 0.2)
}

.youtube-gallery-link span {
  display: inline-block;
  margin-top: 70px;
  width: 80px;
  height: 81px;
  background-image: url(../img/player.png);
  background-repeat: no-repeat;
  background-position: left center
}

.youtube-gallery-link span:hover {
  background-position: right center
}

.grid-box-home{
  width: 25%;
  float:left;
  overflow: hidden;
  padding: 5px;
}
.box-1{
  background:#1B588C;
}
.box-2{
  background:#0BAFCB
}
.box-3{
  background:#127FC3
}
.box-4{
  background:#0B9BB5
}



.box-azul {
  background: #0B9EB9
}

.box-laranja {
  background: #25b0c5
}

.box-laranja:hover {
  background: #21a2b4
}

.box-azul-claro {
  background: #21bbd1
}

.box-azul-claro:hover {
  background: #1eadc1
}

.box-azul-1 {
  background: #0BAFCB
}
.box-azul-1-fixed{
  background: #127FC3
}
.box-azul-1:hover {
  background: #1b69b8
}

.links-rodape {
  list-style: none;
  color: #fff
}

.links-rodape-padding {
  padding-bottom: 30px
}

.linha-rodape {
  border-right: 1px solid #fff
}

.links-rodape-titulo {
  background: #25b0c5;
  display: block;
  padding: 4px
}

@media only screen and (max-width:767px) {
  .links-rodape li {
    text-align: center
  }

  .linha-rodape {
    border: 0 !important
  }

  .banner-item-1 {
    background: url(../img/banner-novo-1-small.jpg) center center !important;
  }
}

@media only screen and (max-width:800px) {}

@media only screen and (max-width:580px) {}

@media only screen and (max-width:550px) {
  .banner-item-1 {
    background: url(../img/banner-novo-1-small-2.jpg) center center !important;
  }
}

@media only screen and (max-width:430px) {}

.unidade-texto {
  margin-top: 20px;
  font-size: 17px;
  border: 1px solid #0092B3;
  border-radius: 4px;
  padding: 5px;
}

.rede-ampliada {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.rede-ampliada-titulo {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.rede-ampliada-desc {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.banner-outubro-rosa {
  width: 100%;
  height: 400px;
  display: block;
}

.autocomplete-suggestions {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-no-suggestion {
  padding: 2px 5px;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: bold;
  color: #000;
}

.autocomplete-group {
  padding: 2px 5px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  display: block;
  border-bottom: 1px solid #000;
}

#autocomplete-ajax {
  font-size: 16px;
  padding: 10px 40px 10px 10px;
  border: 1px solid #CCC;
  display: block;
  margin: 0;
  background: url(../img/lupa.png) right center no-repeat !important;
}

.frm-orcamento-box {
  background: #ebf1f5;
  min-height: 0
}

.frm-orcamento-box-pagina {
  margin-top: 10px;
}

.planos-zero-top {
  margin-top: 0;
}

.frm-orcamento-box-quali {
  margin-top: 20px;
}

.frm-orcamento-box-guia {
  position: absolute;
  z-index: 99;
  margin-right: 15px
}

.clinica-1 {
  clear: both
}

.frm-orcamento-box p {
  color: #fff;
  background: #37abc5;
  font-family: 'MuseoModerno', cursive;
  font-size: 28px;
  text-align: center;
  padding: 15px 0
}

.frm-orcamento {
  width: 100%;
  padding: 0 15px 15px 15px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif
}

.frm-orcamento-campo {
  padding: 0;
  display: inline;
  width: 100%;
  color: #5b666a;
  font-size: 15px;
  margin: 10px 0;
  background: transparent;
  border-bottom: 1px solid #cdd5dd
}

.form-orcamento-campo::-webkit-input-placeholder {
  color: #459ea9
}

.form-orcamento-campo:-ms-input-placeholder {
  color: #459ea9
}

.form-orcamento-campo::-moz-placeholder {
  color: #459ea9;
  opacity: 1
}

.form-orcamento-campo:-moz-placeholder {
  color: #459ea9;
  opacity: 1
}

.frm-orcamento-campo::-webkit-input-placeholder {
  color: #5b666a
}

.frm-orcamento-campo:-ms-input-placeholder {
  color: #5b666a
}

.frm-orcamento-campo::-moz-placeholder {
  color: #5b666a;
  opacity: 1
}

.frm-orcamento-campo:-moz-placeholder {
  color: #5b666a;
  opacity: 1
}

.frm-orcamento-select {
  padding: 0;
  margin: 10px 0;
  display: inline-block;
  width: 100%;
  color: #5b666a;
  font-size: 15px;
  border-bottom: 1px solid #cdd5dd;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: transparent url(../img/bg-select.png) right center no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none
}

.frm-orcamento-button {
  margin-top: 10px;
  display: block;
  font-family: 'MuseoModerno', cursive;
  color: #0091b3;
  font-size: 20px;
  background: #f5c400;
  width: 100%;
  padding: 12px 0 10px 0;
  border-radius: 4px
}

.frm-orcamento-button:hover {
  background: #0091b3;
  color: #f5c400
}

.formulario label.error {
  color: #bb1e25
}

.formulario input.error {
  border-color: #f00
}

.formulario select.error {
  border-color: #f00
}

.formulario textarea.error {
  border-color: #f00
}

.beneficio-faixa {
  margin-top: 30px;
  background: #0091b2;
  overflow: hidden;
  padding-right: 15px
}

.text-popup {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #616160;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  display: block;
}

.avisos-home-faixa {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  padding: 10px 20px;
  background: #E4E4E4;
  border: 1px solid #ccc;
  position: relative;
}

.avisos-home-faixa p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.close-aviso-home {
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 3px;
  color: #666;
  display: block;
  overflow: hidden;
}

.close-aviso-home:hover, .close-aviso-home:active {
  color: #666;
}

@media only screen and (max-width:767px) {
  .avisos-home-faixa p {
    margin-bottom: 5px;
  }
}

.grecaptcha-badge {
  display: none;
}

.cartilha-saber-viver{
  background: #007CD6;
  display: block;
  text-align:center;
  padding:10px 15px;
  color:#fff;
  font-size:22px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  margin:10px 0 0 0;
}

.conteudo-saber-viver p {
  margin-top:15px;
  margin-bottom: 0;
}
.conteudo-saber-viver ul {
  list-style: square !important;
  margin-left:15px;
}
