@font-face {
    font-family: 'AkhandSoftBold';
    src: url('AkhandSoft-Bold.eot');
    src: url('AkhandSoft-Bold.eot?#iefix') format('embedded-opentype'),
        url('AkhandSoft-Bold.woff2') format('woff2'),
        url('AkhandSoft-Bold.woff') format('woff'),
        url('AkhandSoft-Bold.ttf') format('truetype'),
        url('AkhandSoft-Bold.svg#AkhandSoft-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
