<div class="home-slide">
  <div class="container">
    <div class="col-md-16">
     <h2 class="titulo2" style="margin-top:0; margin-bottom:15px;">Veja Mais:</h2>
    </div>
  </div>


  <div class="owl-carousel owl-home">

            <div class="item">
      <a class="transition" title="Facilita! Com Santa Casa Saúde é muito fácil agendar consultas e exames." href="https://www.planosantacasasaude.com/beneficiario/comunicados/facilita-com-santa-casa-saude-e-muito-facil-agendar-consultas-e-exames/">
        <div class="item-img-back">
          <div class="item-img transition" style="background:url(https://www.planosantacasasaude.com/beneficiario/wp-content/uploads/2021/07/SCS-2021-07-26-Comunicado-agendar-consultas-730x307.png)"></div>
        </div>
        <div class="item-content">
          <div class="item-data">26 de julho de 2021</div>
          <div class="item-titulo item-titulo-footer">Facilita! Com Santa Casa Saúde é muito fácil agendar consultas e exames.</div>
          <div class="item-desc item-desc-footer">Site ou Aplicativo Você pode agendar suas consultas e exames de forma fácil e rápida em apenas 5 passos utilizando o site planosantacasasaude.com ou aplicativo da Santa Casa Saúde. 1- Clique em “Agendar...</div>
        </div>
      </a>
    </div>

      <div class="item">
      <a class="transition" title="SAÚDE: Santa Casa de São José inicia obras de ampliação" href="https://www.planosantacasasaude.com/beneficiario/comunicados/saude-santa-casa-de-sao-jose-inicia-obras-de-ampliacao/">
        <div class="item-img-back">
          <div class="item-img transition" style="background:url(https://www.planosantacasasaude.com/beneficiario/wp-content/uploads/2021/05/capa-comunicado-730x307.png)"></div>
        </div>
        <div class="item-content">
          <div class="item-data">28 de maio de 2021</div>
          <div class="item-titulo item-titulo-footer">SAÚDE: Santa Casa de São José inicia obras de ampliação</div>
          <div class="item-desc item-desc-footer">Já iniciaram as obras de ampliação da estrutura da Santa Casa de São José dos Campos, através de recursos do BNDES (Banco Nacional de Desenvolvimento...</div>
        </div>
      </a>
    </div>

          <div class="item">
      <a class="transition" title="Grande maioria aprova o Plano Santa Casa Saúde: 87,6%" href="https://www.planosantacasasaude.com/beneficiario/comunicados/pesquisa-na-saude-grande-maioria-aprova-o-plano-santa-casa-saude-876/">
        <div class="item-img-back">
          <div class="item-img transition" style="background:url(https://www.planosantacasasaude.com/beneficiario/wp-content/uploads/2021/05/Capa_comunicado-730x307.png)"></div>
        </div>
        <div class="item-content">
          <div class="item-data">26 de maio de 2021</div>
          <div class="item-titulo item-titulo-footer">Grande maioria aprova o Plano Santa Casa Saúde: 87,6%</div>
          <div class="item-desc item-desc-footer">Pesquisa realizada recentemente para a ANS, Agência Nacional de Saúde Suplementar, mostra que o plano Santa Casa Saúde tem ampla aprovação de seus clientes. A...</div>
        </div>
      </a>
    </div>

          <div class="item">
      <a class="transition" title="Mais qualidade, mais saúde" href="https://www.planosantacasasaude.com/beneficiario/comunicados/santa-casa-saude-obtem-alto-indice-de-desempenho-da-saude-idss-0-7061/">
        <div class="item-img-back">
          <div class="item-img transition" style="background:url(https://www.planosantacasasaude.com/beneficiario/wp-content/uploads/2021/05/SCS-2021-05-05-Comunicado-IDSS2-1-730x307.png)"></div>
        </div>
        <div class="item-content">
          <div class="item-data">5 de maio de 2021</div>
          <div class="item-titulo item-titulo-footer">Mais qualidade, mais saúde</div>
          <div class="item-desc item-desc-footer">O Programa de Qualificação de Operadoras (PQO) é uma inciativa desenvolvida pela Agência Nacional de Saúde Suplementar (ANS) para avalição anual do desempenho das operadoras...</div>
        </div>
      </a>
    </div>

          <div class="item">
      <a class="transition" title="RN 309 &#8211; Reajuste de Planos Coletivos" href="https://www.planosantacasasaude.com/beneficiario/comunicados/rn-309-reajuste-de-planos-coletivos/">
        <div class="item-img-back">
          <div class="item-img transition" style="background:url(https://www.planosantacasasaude.com/beneficiario/wp-content/uploads/2016/06/scs_blog_reajuste_ANS_2018-01.jpg)"></div>
        </div>
        <div class="item-content">
          <div class="item-data">30 de abril de 2021</div>
          <div class="item-titulo item-titulo-footer">RN 309 &#8211; Reajuste de Planos Coletivos</div>
          <div class="item-desc item-desc-footer">Resolução Normativa ANS nº 309/2012 – Agrupamento de contratos coletivos de planos privados de assistência à saúde para fins de cálculo e aplicação de reajuste....</div>
        </div>
      </a>
    </div>

          <div class="item">
      <a class="transition" title="Veja onde encontrar os atendimentos que facilitam sua vida." href="https://www.planosantacasasaude.com/beneficiario/comunicados/estamos-aqui-para-ajudar-voce/">
        <div class="item-img-back">
          <div class="item-img transition" style="background:url(https://www.planosantacasasaude.com/beneficiario/wp-content/uploads/2021/04/SCS-2021-04-27-Comunicado-Estamos-aqui-para-ajudar-você-730x307.png)"></div>
        </div>
        <div class="item-content">
          <div class="item-data">27 de abril de 2021</div>
          <div class="item-titulo item-titulo-footer">Veja onde encontrar os atendimentos que facilitam sua vida.</div>
          <div class="item-desc item-desc-footer">Utilize nossos canais de atendimento Site: planosantacasasaude.com Aplicativos: iOS e Android Telefone: (12) 3876-9600 Baixe o app para facilitar sua vida. Retirar 2° via de...</div>
        </div>
      </a>
    </div>

          <div class="item">
      <a class="transition" title="Pesquisa de Satisfação de Beneficiários, realizada pela operadora seguindo as diretrizes estabelecidas pela ANS &#8211; Agência Nacional de Saúde Suplementar." href="https://www.planosantacasasaude.com/beneficiario/comunicados/pesquisa-de-satisfacao-de-beneficiarios-do-plano-santa-casa-saude-2021/">
        <div class="item-img-back">
          <div class="item-img transition" style="background:url(https://www.planosantacasasaude.com/beneficiario/wp-content/uploads/2021/04/capapesquisa2021-3-730x307.png)"></div>
        </div>
        <div class="item-content">
          <div class="item-data">26 de abril de 2021</div>
          <div class="item-titulo item-titulo-footer">Pesquisa de Satisfação de Beneficiários, realizada pela operadora seguindo as diretrizes estabelecidas pela ANS &#8211; Agência Nacional de Saúde Suplementar.</div>
          <div class="item-desc item-desc-footer">Para conhecer a pesquisa clique aqui abaixo: Pesquisa de Satisfação de Beneficiários &#8211; ANS, ano base 2020 Parecer da Auditoria Independente</div>
        </div>
      </a>
    </div>

          <div class="item">
      <a class="transition" title="Santa Casa Saúde Facilita para você" href="https://www.planosantacasasaude.com/beneficiario/comunicados/santa-casa-saude-facilita-para-voce/">
        <div class="item-img-back">
          <div class="item-img transition" style="background:url(https://www.planosantacasasaude.com/beneficiario/wp-content/uploads/2021/02/SCS-Autorizador-de-Guias-Capa-comunicado-730x307.png)"></div>
        </div>
        <div class="item-content">
          <div class="item-data">5 de fevereiro de 2021</div>
          <div class="item-titulo item-titulo-footer">Santa Casa Saúde Facilita para você</div>
          <div class="item-desc item-desc-footer">Agora você tem exames laboratoriais sem autorização prévia. Estamos sempre trabalhando para criar novas soluções para atender cada vez melhor e facilitar a vida dos...</div>
        </div>
      </a>
    </div>

          <div class="item">
      <a class="transition" title="Notícias sobre reajustes" href="https://www.planosantacasasaude.com/beneficiario/comunicados/noticias-sobre-reajustes/">
        <div class="item-img-back">
          <div class="item-img transition" style="background:url(https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/img/sem-foto-small.jpg)"></div>
        </div>
        <div class="item-content">
          <div class="item-data">16 de dezembro de 2020</div>
          <div class="item-titulo item-titulo-footer">Notícias sobre reajustes</div>
          <div class="item-desc item-desc-footer">Os planos de pessoa física individuais e familiares tiveram o reajuste suspenso entre maio e dezembro de 2020 por determinação da ANS (Agência Nacional de...</div>
        </div>
      </a>
    </div>

          <div class="item">
      <a class="transition" title="LONGEVIDADE: Em São José, plano especial para terceira idade têm medicina preventiva e qualidade de vida." href="https://www.planosantacasasaude.com/beneficiario/comunicados/longevidade-em-sao-jose-plano-especial-para-terceira-idade-tem-medicina-preventiva-e-qualidade-de-vida/">
        <div class="item-img-back">
          <div class="item-img transition" style="background:url(https://www.planosantacasasaude.com/beneficiario/wp-content/uploads/2020/11/iStock-1191282683-730x307.jpg)"></div>
        </div>
        <div class="item-content">
          <div class="item-data">18 de novembro de 2020</div>
          <div class="item-titulo item-titulo-footer">LONGEVIDADE: Em São José, plano especial para terceira idade têm medicina preventiva e qualidade de vida.</div>
          <div class="item-desc item-desc-footer">De acordo com o IBGE, o Brasil tem mais de 28 milhões de pessoas idosas. Esse número tende a dobrar nas próximas décadas.  Para atender...</div>
        </div>
      </a>
    </div>

          <div class="item">
      <a class="transition" title="AVISO IMPORTANTE – CORONAVÍRUS" href="https://www.planosantacasasaude.com/beneficiario/noticias/aviso-importante-coronavirus/">
        <div class="item-img-back">
          <div class="item-img transition" style="background:url(https://www.planosantacasasaude.com/beneficiario/wp-content/uploads/2020/03/Blog_avisoCoronavirus-730x307.png)"></div>
        </div>
        <div class="item-content">
          <div class="item-data">21 de março de 2020</div>
          <div class="item-titulo item-titulo-footer">AVISO IMPORTANTE – CORONAVÍRUS</div>
          <div class="item-desc item-desc-footer">A Santa Casa Saúde, em atenção à pandemia do COVID-19 que o país esta vivendo e em cumprimento a orientação da Agência Nacional de Saúde...</div>
        </div>
      </a>
    </div>

  

  </div>

</div>
<footer class="footer">

  <div class="container">
    <div class="row links-rodape-padding">

      <div class="col-sm-3 col-md-push-2 col-md-2 linha-rodape">

        <ul class="links-rodape">
          <li class="links-rodape-titulo"><b>Atendimento</b></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/rede-medica-locais-de-atendimento">Endereços</a></li>
          <li><a title="" href="http://189.127.6.26:65021/mvautorizadorguias">Autorizador de guias</a></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/guia-medico">Guia Médico</a></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/segunda-via-de-boletos">Boletos</a></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/consulta-de-grupo-de-procedimentos">Consulta de grupo de procedimentos</a></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/fale-conosco">Fale conosco</a></li>
          <li><a title="" href="http://189.127.6.26:65020/mvsaudeweb/#/login/beneficiario">Atualize seu cadastro</a></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/avisos-importantes">Avisos importantes</a></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/minutas-contratuais">Minutas contratuais</a></li>

        </ul>
      </div>

      <div class="col-sm-3 col-md-push-2 col-md-2 linha-rodape">

        <ul class="links-rodape">
          <li class="links-rodape-titulo"><b>Fale conosco</b></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/ouvidoria">Ouvidoria</a></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/fale-conosco">Agendar consultas</a></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/fale-conosco">Principais contatos</a></li>
          <li><a title="" href="http://189.127.6.26:65020/mvsaudeweb/#/login/beneficiario">Atualize seu cadastro</a></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/comunicados">Comunicados</a></li>
        </ul>

      </div>

      <div class="col-sm-3 col-md-push-2 col-md-2 linha-rodape">

        <ul class="links-rodape">
          <li class="links-rodape-titulo"><b>Portais</b></li>
          <li><a title="" target="_blank" href="http://189.127.6.26:65020/mvsaudeweb/#/login/beneficiario">Portal do beneficiário</a></li>
          <li><a title="" target="_blank" href="http://189.127.6.26:65020/mvsaudeweb/#/login/corretor">Portal corretora</a></li>
          <li><a title="" target="_blank" href="http://189.127.6.26:65020/mvsaudeweb/#/login/empresa">Portal empresa</a></li>
          <li><a title="" target="_blank" href="http://189.127.6.26:65021/mvautorizadorguias">Portal prestador - autorizações</a></li>
          <li><a title="" target="_blank" href="http://189.127.6.26:65020/mvsaudeweb/#/login/prestador">Portal prestador - demonstrativo</a></li>
          <li><a title="" href="http://www.planosantacasasaude.com/beneficiario/tiss">Portal TISS</a></li>
        </ul>

      </div>

      <div class="col-sm-3 col-md-push-2 col-md-2">


        <ul class="links-rodape">
          <li class="links-rodape-titulo"><b>Institucional</b></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/institucional">Quem somos</a></li>
          <!-- <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/rede-medica-locais-de-atendimento">Estrutura</a></li>
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/institucional">Especialidades</a></li> -->
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario/blog">Atualidades</a></li>
        </ul>

        <ul class="links-rodape">
          <li><a title="" href="https://www.planosantacasasaude.com/beneficiario"><b>Home</b> - Voltar a página inicial</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img alt="" src="https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/img/ans-black.jpg" />
        <img alt="" src="https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/img/ans-white.jpg" />
        <p>Criação e Desenvolvimento: Agência Ok Ideias - <a title="Ok Ideias" href="http://www.okideias.com" target="_blank">www.okideias.com</a></p>
      </div>
    </div>
  </div>
</footer>

<div class="site-vendas-box">
  <a class="transition"  title="Vendas de planos de Saúde Santa Casa" href="http://www.santacasasaude-planos.com/">
    <p class="site-vendas-box-titulo">Quero conhecer o plano</p>
    <p class="site-vendas-box-desc">Peça seu orçamento agora</p>
    <p class="site-vendas-box-subtitulo">SITE DE VENDAS</p>
    <!-- <span class="site-vendas-box-plus"><span class="site-vendas-box-circle transition"><i class="fas fa-plus"></i></span></span> -->
  </a>
</div>

<div class="site-vendas-box-footer">
  <a class="transition" title="Vendas de planos de Saúde Santa Casa" href="http://www.santacasasaude-planos.com/">
    <p class="site-vendas-box-subtitulo">Quero entrar no site de vendas</p>
    <!-- <span class="site-vendas-box-plus"><span class="site-vendas-box-circle transition"><i class="fas fa-plus"></i></span></span> -->
  </a>
</div>


<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
"palette": {
"popup": {
"background": "#0071b6",
"text": "#ffffff"
},
"button": {
"background": "#0092d3"
}
},
"content": {
"message": "Utilizamos cookies para oferecer melhor experiência durante o uso do site. Ao utilizar este site, você concorda com o uso de cookies. Por favor, leia nossa Política de Privacidade.",
"link": "Leia mais",
"dismiss": "Ok, entendi!",
"href": "https://www.planosantacasasaude.com/beneficiario/politica-de-privacidade/"
}
})});
</script>




<script src="https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/js/vendor/jquery.min.js"></script>
<script src="https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/js/vendor/fontawesome-all.min.js"></script>
<script src="https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/js/vendor/jquery.flexslider-min.js"></script>
<script src="https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/js/vendor/jquery.matchHeight-min.js"></script>
<script src="https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/js/vendor/owl.carousel.js"></script>
<script src="https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/js/vendor/jquery.mask.js"></script>
<script src="https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/js/vendor/jquery.validate.min.js"></script>
<script src="https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/js/vendor/jquery.custom-file-input.js"></script>
<script src="https://www.planosantacasasaude.com/beneficiario/wp-content/themes/scs-beneficiario/js/scripts.js"></script>



<script type='text/javascript' src='https://www.planosantacasasaude.com/beneficiario/wp-includes/js/wp-embed.min.js?ver=4.9.18'></script>
</body>

</html>